In [3]:
import pandas as pd

# Reading Data

In [4]:
df = pd.read_csv('data.csv')

In [5]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   99.652355         0   79          1           0              0
1  101.879973         1   63          0           1              0
2   99.235477         0   82          1           0              1
3   98.043172         1   84          0           1              1
4   98.764906         0   79          1          -1              1

In [6]:
df.tail()

          fever  bodyPain  age  runnyNose  diffBreath  infectionProb
494   99.177465         0   35          0           1              1
495   99.043984         1   60          1           0              0
496   98.881227         0   40          0           0              0
497  100.472446         1   24          1           0              0
498   99.670042         1   23          1           1              0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          499 non-null    float64
 1   bodyPain       499 non-null    int64
 2   age            499 non-null    int64
 3   runnyNose      499 non-null    int64
 4   diffBreath     499 non-null    int64
 5   infectionProb  499 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 23.5 KB

In [9]:
df['diffBreath'].value_counts()

 1    178
-1    163
 0    158
Name: diffBreath, dtype: int64

In [10]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000
mean,99.981802,0.517034,50.460922,0.529058,0.030060,0.480962
std,1.146560,0.500211,29.395653,0.499656,0.826942,0.500139
min,98.014602,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.027304,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,99.999058,1.000000,49.000000,1.000000,0.000000,0.000000
75%,100.917947,1.000000,76.500000,1.000000,1.000000,1.000000
max,101.998380,1.000000,100.000000,1.000000,1.000000,1.000000

# Train Test Splitting

In [11]:
import numpy as np

In [20]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [21]:
np.random.permutation(10)

array([2, 5, 9, 8, 0, 4, 6, 1, 7, 3])

In [22]:
train,test = data_split(df,0.2)

In [23]:
train

          fever  bodyPain  age  runnyNose  diffBreath  infectionProb
331   99.370486         0  100          1           1              1
56    98.708755         0   18          0          -1              1
227  100.745205         0   22          1           1              0
280   99.178529         0    8          0           1              1
486   99.377078         1   30          0          -1              1
..          ...       ...  ...        ...         ...            ...
106  100.336447         0    7          1           0              1
270   98.659172         1    8          1          -1              1
348  100.237355         0   48          1           1              0
435   98.857600         0   89          1           1              0
102  100.049547         0   12          1           1              1

[400 rows x 6 columns]

In [24]:
test

          fever  bodyPain  age  runnyNose  diffBreath  infectionProb
460   98.413292         1   95          1           1              1
73    98.199247         0   61          1           0              1
231   98.971116         0   77          0          -1              0
175   98.999191         0   67          1           0              0
237  100.055656         1   71          1           0              0
..          ...       ...  ...        ...         ...            ...
15    99.679681         0   30          0          -1              1
247  100.699099         1   46          1           1              0
384  100.302306         1   99          1           1              1
19   100.648030         0   61          1           1              1
321  100.023299         1   87          0          -1              1

[99 rows x 6 columns]

In [25]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreath']]

In [26]:
X_train

          fever  bodyPain  age  runnyNose  diffBreath
331   99.370486         0  100          1           1
56    98.708755         0   18          0          -1
227  100.745205         0   22          1           1
280   99.178529         0    8          0           1
486   99.377078         1   30          0          -1
..          ...       ...  ...        ...         ...
106  100.336447         0    7          1           0
270   98.659172         1    8          1          -1
348  100.237355         0   48          1           1
435   98.857600         0   89          1           1
102  100.049547         0   12          1           1

[400 rows x 5 columns]

In [30]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [31]:
X_train

array([[ 99.37048562,   0.        , 100.        ,   1.        ,
          1.        ],
       [ 98.70875498,   0.        ,  18.        ,   0.        ,
         -1.        ],
       [100.745205  ,   0.        ,  22.        ,   1.        ,
          1.        ],
       ...,
       [100.2373551 ,   0.        ,  48.        ,   1.        ,
          1.        ],
       [ 98.85760013,   0.        ,  89.        ,   1.        ,
          1.        ],
       [100.0495469 ,   0.        ,  12.        ,   1.        ,
          1.        ]])

In [32]:
X_test

array([[ 99.37048562,   0.        , 100.        ,   1.        ,
          1.        ],
       [ 98.70875498,   0.        ,  18.        ,   0.        ,
         -1.        ],
       [100.745205  ,   0.        ,  22.        ,   1.        ,
          1.        ],
       ...,
       [100.2373551 ,   0.        ,  48.        ,   1.        ,
          1.        ],
       [ 98.85760013,   0.        ,  89.        ,   1.        ,
          1.        ],
       [100.0495469 ,   0.        ,  12.        ,   1.        ,
          1.        ]])

In [37]:
Y_train = train[['infectionProb']].to_numpy().reshape(99 ,)
Y_test = train[['infectionProb']].to_numpy().reshape(400 ,)

In [38]:
Y_train

array([[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0,
        1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
        0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1,
        0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
        1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
        0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1,
        0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0,
        1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
        1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
        0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0,
        1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0,
        0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
        1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
        1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
        1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1,
        0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 1]], dtype=int64)

In [39]:
Y_test

array([[1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0,
        1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
        0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1,
        0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
        1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
        0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1,
        0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0,
        1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1,
        1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
        0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0,
        1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0,
        0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
        1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
        1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
        1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1,
        0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 1]], dtype=int64)

In [40]:
from sklearn.linear_model import LogisticRegression

In [ ]:
clf = LogisticRegression()
clf